/* DisciplineBlock */

.disciplineBlockDragging {
  width: 530px;
  height: 550px;
  margin-left: 20px;
  margin-bottom: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #eee;
}

.disciplineBlock {
  width: 530px;
  height: 550px;
  margin-left: 20px;
  margin-bottom: 10px;
  flex-shrink: 0;
  background-color: #fff;

  border-radius: 20px;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
}

.disciplineBlockTitle {
  padding-block: 30px;
  background: #4568ff;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
  text-overflow: ellipsis;
  color: white;

  font-weight: 400;
  font-size: 28px;
  line-height: 100%;

  padding-inline: 20px;

  border-bottom: 2px solid #211f20;
}

.disciplineBlockTitle:active {
  cursor: grab;
}

.disciplineBlockTitleInput {
  display: block;
  width: 100%;
  height: 37px;
  font-family: inherit;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}

.disciplineBlockModules {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.disciplineBlockModules::-webkit-scrollbar {
  width: 7px;
  background-color: #6c8186;
  border-radius: 3px;
}

.disciplineBlockModules::-webkit-scrollbar-thumb {
  background-color: #1469c8;
  border-radius: 0.25rem;
}

.disciplineBlockAddModuleButton {
  height: 70px;
  border-radius: 16px;
  background: #4568ff;

  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  font-weight: 400;
  font-size: 26px;
  line-height: 100%;

  color: white;
}

.disciplineBlockAddModuleButton:active {
  background: #4c6aed;
}

.disciplineBlockDescriptionTextarea {
  height: 100%;
  resize: none;
  border-radius: 16px;
  padding: 4px;
  margin: 1px;

  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  border: none;
}

.disciplineBlockDescriptionTextarea::-webkit-scrollbar {
  width: 7px;
  background-color: #6c8186;
  border-radius: 3px;
}

.disciplineBlockDescriptionTextarea::-webkit-scrollbar-thumb {
  background-color: #1469c8;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* DisciplineBlockModule */

.disciplineBlockModule {
  width: 510px;
  margin: 10px auto 10px auto;
  height: 100px;
  background-color: white;
  border: 1px solid #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  gap: 10px;
}

.disciplineBlockModule:active {
  cursor: grab;
}

.disciplineBlockModuleDragging {
  width: 510px;
  margin: 10px auto 10px auto;
  height: 100px;
  background-color: #eee;
  border-radius: 16px;
}

.disciplineBlockModuleTrashIcon {
  width: 20px;
  height: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disciplineBlockModuleTrashButton {
  width: 30px;
  height: 30px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-top: 5px;
}

.disciplineBlockModuleText {
  padding-left: 30px;
  width: 100%;
  word-break: break-word;
  overflow: hidden;

  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
}
