/* CurriculumBlock */

.block {
  margin: auto;
  margin-bottom: 30px;
  width: 95vw;
  height: 500px;
  border-radius: 10px;
  border: 2px solid #5e697b4d;
  background-color: #fff;
}

.blockDraggable {
  margin: auto;
  margin-bottom: 30px;
  width: 95vw;
  height: 500px;
  border-radius: 10px;
  background-color: #eee;
}

.blockTitle {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1469c8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
  text-overflow: ellipsis;
  color: white;
}

.blockTitle:active {
  cursor: grab;
}

.blockTitleText {
  width: 80%;
}

/* CurriculumBlock */

.blockDisciplines {
  display: flex;
  overflow-x: auto;
  padding-inline: 1px;
}

.blockDisciplines::-webkit-scrollbar {
  height: 9px;
  background-color: #6c8186;
  border-radius: 20px;
}

.blockDisciplines::-webkit-scrollbar-thumb {
  background-color: #1469c8;
  border-radius: 0.25rem;
  cursor: pointer;
}

.blockDiscipline {
  display: block;
  margin: 5px;
  width: 351px;
  border-radius: 10px;
  border: 2px solid #5e697b4d;
  height: 418px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.blockDisciplineTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5e697b4d;
  padding: 2px;
  border-radius: 8px;
}

.blockDisciplineList {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.blockDisciplineList::-webkit-scrollbar {
  width: 7px;
  background-color: #6c8186;
  border-radius: 3px;
}

.blockDisciplineList::-webkit-scrollbar-thumb {
  background-color: #1469c8;
  border-radius: 0.25rem;
}

.blockDisciplineAddButton {
  height: 30px;
  border-radius: 8px;
  background: #eee;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* CurriculumBlockDiscipline */

.discipline {
  width: 340px;
  margin: 10px auto 10px auto;
  height: 40px;
  background-color: #c0efff;
  border: 2px solid #6c8186;
  border-radius: 8px;
  display: flex;
  position: relative;
}

.discipline:active {
  cursor: grab;
}

.disciplineDragging {
  width: 340px;
  margin: 10px auto 10px auto;
  height: 43px;
  background-color: #eee;
  border-radius: 8px;
}

.disciplineTrashIcon {
  width: 20px;
  height: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disciplineTrashButton {
  width: 30px;
  height: 30px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-top: 5px;
}

.disciplineText {
  padding-left: 30px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  word-break: break-word;
  overflow: hidden;
}

.teachersModal {
  top: 43px;
  left: -1px;
  width: 340px;
  height: 100px;
  height: 180px;
  background-color: #eee;
  border: 2px solid #7c7c7c;
  border-radius: 5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.teachersModalTitle {
  text-align: center;
  width: 330px;
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
  border-bottom: 2px solid #7c7c7c;
  border-radius: 8px;
}

.teachersList {
  overflow-y: auto;
  height: 100%;
}

.teachersAddButton {
  height: 30px;
  border-radius: 8px;
  background: #eee;
  color: inherit;
  border: none;
  border-top: 2px solid #7c7c7c;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.teacherName {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}

.teacherElement {
  display: flex;
}
