/* ModulesList */

.modulesListModal {
  position: fixed;
  top: 45px;
  left: 276px;
  width: 176px;
  min-height: 6px;
  border: none;
  background-color: #1469c8;
}

.modulesListModalWidth {
  width: 176px;
}

.modulesListModalUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* ModalConfirm */

.modalConfirmModal {
  transform: translate(-50%, -50%);
  width: 820px;
  height: 353px;
  top: 50%;
  left: 50%;
  background-color: #eee;
  border: 2px solid #7c7c7c;
  position: absolute;

  border-radius: 20px;
  border: 2px solid #000000;
}

.modalConfirmModalText {
  margin-top: 30px;
  height: 220px;
  text-align: center;

  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
}

.modalConfirmModalButton {
  width: 300px;
  height: 74px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* TeacherList */

.modalTeacherListModal {
  width: 340px;
  height: 180px;
  background-color: #eee;
  border: 2px solid #7c7c7c;
  border-radius: 5px;
}
