/* Navbar */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1469c8;
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
}

.navElement {
  float: left;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navElementLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  background-color: #1469c8;
  border-style: none;
}

.navElementLink:hover {
  background-color: #0a376b;
}

.navElementText {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer {
  height: 20px;
  width: 100%;
  background-color: #0a376b;
}

.navElementLast {
  float: right;
}

/* DisciplineLayout */

.layout {
  margin: 0;
  padding: 0;
  width: 250px;
  min-height: calc(100vh - 121px);
  background-color: #1469c8;
  list-style-type: none;
}

.layoutElement {
  float: left;
  width: 250px;
}

.layoutElementLink {
  display: block;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

.layoutElementLink:hover {
  background-color: #0a376b;
}

.layoutElementSelected {
  background-color: #0a376b;
}

/* navModal */

.navModal {
  position: fixed;
  top: 45px;
  left: 276px;
  width: 176px;
  min-height: 6px;
  border: none;
  background-color: #1469c8;
}

.navModalWidth {
  width: 176px;
}

.modalUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
