.pageName {
  margin-top: 45px;
  background-color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  font-size: 22px;
}

/* MainConstructor */
.mainContent {
  min-height: calc(100vh - 65px);
}

.mainBlocks {
  width: 80%;
  margin: auto;
}

/* ModuleConstructor */

.moduleContent {
  min-height: calc(100vh - 65px);
}

.moduleCentered {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.moduleEditImg {
  width: 30px;
  height: 30px;
}

.moduleEditButton {
  position: fixed;
  bottom: 30px;
  right: 25px;
  background-color: rgba(0, 125, 215, 0);
  border: none;
  cursor: pointer;
}

.moduleInput {
  font-size: 22px;
  font-family: Arial;
  border-radius: 8px;
  resize: none;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  height: 40px;
  min-height: 40px;
  width: 400px;
  min-width: 400px;
  margin: auto;
  margin-bottom: 15px;
}

.moduleAddBlockButton {
  text-decoration: none;
  cursor: pointer;
  font-size: 19px;
  color: black;
  width: auto;
  display: block;
  border: none;
  margin: auto;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #c0efff;
}

.moduleDeleteBlockButton {
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  padding: 3px;
}

.moduleCrossImg {
  width: 20px;
  height: 20px;
}

.moduleBlock {
  margin-top: 30px;
  margin-bottom: 30px;
}

.moduleBlockTitle {
  background-color: #1469c8;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: white;
  display: flex;
}

.moduleBlockTitleInput {
  font-family: courier;
  background-color: #1469c8;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: white;
  padding: 0px;
  border-style: solid;
  border-radius: 1px;
  border-color: black;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.moduleBlockMainText {
  margin-top: 20px;
  white-space: pre-wrap;
  font-size: 17px;
}

.moduleBlockMainTextArea {
  margin-top: 20px;
  white-space: pre-wrap;
  font-size: 17px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* DisciplineConstructor */

.disciplineAddBlock {
  margin: 20px;
  display: flex;
}

.disciplineBlocks {
  overflow-x: auto;
  display: flex;
}
