.pageName {
  margin-top: 45px;
  background-color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  font-size: 22px;
}

/* MainConstructor */
.mainContent {
  min-height: calc(100vh - 65px);
}

.mainBlocks {
  width: 80%;
  margin: auto;
}

/* ModuleConstructor */

.moduleContent {
  min-height: calc(100vh - 65px);
}
