/* Module */

.module {
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* Block */

.moduleBlock {
  margin-top: 30px;
  margin-bottom: 30px;
}

.moduleBlockTitle {
  background-color: #1469c8;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: white;
}

.moduleBlockMainText {
  margin-top: 20px;
  white-space: pre-wrap;
  font-size: 17px;
}

/* File */

.file {
  margin-top: 15px;
  margin-left: 15px;
  padding: 10px;
  padding-bottom: 12px;
  background-color: #eee;
  border-radius: 15px;
  width: fit-content;
  display: inline-flex;
}

.fileImg {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.fileName {
  text-align: center;
  margin-left: 15px;
  margin-top: 4px;
  font-size: 16px;
}

.fileDownload {
  color: #000 !important;
  text-decoration: none;
  display: flex;
}

/* DescriptionModule */

.textBlock {
  margin-top: 15px;
  margin-left: 15px;
  padding: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border-radius: 15px;
  width: fit-content;
  display: inline-flex;
  color: #000;
}

/* Constructed Block */

.constructedModuleBlock1 {
  margin: auto;
  max-width: 1020px;
  height: 480px;
  margin-block: 20px;
  flex-shrink: 0;
  background-color: #fff;

  border-radius: 10px;
  border: 3px solid #5e697b4d;

  display: flex;
  flex-direction: column;
}

.constructedModuleBlockTitle {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1469c8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
  text-overflow: ellipsis;
  color: white;
}

.constructedModuleBlockTitle:active {
  cursor: grab;
}

.constructedModuleBlockTitleInput {
  display: block;
  width: 90%;
  height: 30px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}

.constructedModuleBlockTextarea {
  height: 100%;
  resize: none;
  border-radius: 8px;
  padding: 4px;
  margin: 1px;
}

.constructedModuleBlockTextarea::-webkit-scrollbar {
  width: 7px;
  background-color: #6c8186;
  border-radius: 3px;
}

.constructedModuleBlockTextarea::-webkit-scrollbar-thumb {
  background-color: #1469c8;
  border-radius: 0.25rem;
  cursor: pointer;
}

.filesArea {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.constructedModuleBlockDraggableBackground {
  margin: auto;
  max-width: 1020px;
  height: 480px;
  margin-block: 20px;
  background-color: #eee;
  border-radius: 10px;
}

.constructedFile {
  margin-top: 15px;
  margin-left: 15px;
  padding: 10px;
  padding-bottom: 12px;
  background-color: #eee;
  border-radius: 15px;
  width: 300px;
  height: 30px;
  display: inline-flex;
  word-break: break-word;
  overflow: hidden;
}

.constructedFile:active {
  cursor: grab;
}

.constructedFileName {
  text-align: center;
  margin-left: 15px;
  margin-top: 4px;
  font-size: 16px;
  width: 100%;
}
